@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
}
header{
    width: 100%;
}
.top-header{
    width: 100%;
    background-color: black;
    height: 50px;
}
.top-header p{
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}
.bottom-header{
    width: 100%;
    height: 60px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
}
.sub-header{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sub-header nav ul li{
    list-style-type: none;
    margin-top: 5px;
}
.sub-header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.sub-header nav ul{
    display: flex;
    gap: 10px;
}
.sub-header nav ul button{
    padding: 8px 15px;
    background-color: rgb(204, 58, 58);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.nav-bar{
    display: flex;
    gap: 10px;
}

.logo h5{
    font-size: 18px;
    margin-top: 5px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search-bar input{
    outline: 0;
    height: 32px;
    width: 175px;
    border: 1px solid #d3cfcf;
    border-radius: 4px;
    padding-left: 8px;
}
.search-bar i{
    font-size: 22px;
    margin-top: 5px;
}
.search-bar button{
    height: 35px;
    padding: 8px 15px;
    background-color: rgb(204, 58, 58);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.search-bar .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar .profile img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.search-bar .card-shopping{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.search-bar .card-shopping img{
    width: 100%;
    height: 100%;
}
.sub-main{
    width: 100%;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 60px;
    margin-bottom: 150px;
    display: flex;
    gap: 20px;
}
.left-side{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side{
    width: 50%;
}
.story{
    width: 525px;
}
.story h1{
    font-weight: 500;
    line-height: 2;
}
.story p{
    line-height: 2;
    margin-bottom: 5px;
}
footer{
    width: 100%;
    background-color: black;
}
.sub-footer{
    width: 85%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding-top: 50px;
}
.sub-footer .detail{
    width: 156px;
}
.sub-footer .detail input{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: black;
    color: #fff;
}
.sub-footer .detail h4{
    color: #fff;
    font-weight: 500;
}
.sub-footer .detail p{
    color: #fff;
    line-height: 3;
}
.sub-footer .detail ul li{
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    line-height: 3;
}
.exclusive{
    font-size: 14px;
}
.subscribe{
    font-size: 15px;
}